/* Increase the default font size */
html {
  font-size: 14pt;
}

/* Hyvor inject 100% which breaks the class width, so we force it */
#hyvor-talk-view {
  max-width: 65ch !important;
}

/* Make footnotes a bit smaller and with less margin */
.footnotes p {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 12pt;
}